<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h4>
    <ul>
        <li>
            <a href="/register">SIGN UP</a>
        </li>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/login">LOG IN</a>
        </li>
        <li>
            <a href="/profile">PROFILE</a>
        </li>
    </ul>
</h4>
