<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <header>
      <h4>
    <ul>{{#if isAuthenticated}}
        <li>
            <a href="/profile">PROFILE</a>
        </li>
        <li>
            <a href="/logout">LOG OUT</a>
        </li>
        <li>
            <a href="/">HOME</a>
        </li>
        {{else}}
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/register">SIGN UP</a>
        </li>
        <li>
            <a href="/login">LOG IN</a>
        </li>{{/if}}
    </ul>
</h4>

    </header>
    {{{body}}}
  </body>
</html>
